%p#notice= notice

%p
  %b User:
  = @subscription.user_id
%p
  %b Channel:
  = @subscription.channel_id

= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path
